@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}


body {
    width: 100%;
    height: 650px;
    background: url("img/i1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bar {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-mid {
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head, .sub-head {
    font-family: "Prompt", serif;
    font-weight: 600;
    color: white;
}

.head {
    font-size: 40px;
}

.sub-head{
    top: 120px;
}

.box-head {
    position: absolute;
    top: 110px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 4px;
    padding-left: 40px;
    text-align: center;
    padding-right: 40px;
}

.msg-flex {
    width: 100%;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-box {
    width: 60%;
    height: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.chat {
    position: relative;
    top: 360px;
    left: 10px;
    padding: 6px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 40vw;
    margin-left: 10px;
    transition: 0.3s ease-out;
}

.chat::placeholder {
    color: white;
    padding-left: 6px;
    transition: 0.3s ease-out;
    font-family: monospace;
}

.chat:focus {
    border: none;
    outline: none;
    color: white;
    padding-left: 10px;
    transition: 0.3s ease-out;
    font-family: monospace;
}

i {
    position: relative;
    top: 360px;
    float: right;
    margin-right: 20px;
    color: #ffffffda;
    filter: blur(0.2px);
    opacity: 60%;
    cursor: pointer;
    transition: 0.3s ease-in;
}

i:hover {
    color: #1cbfff;
    opacity: 100%;
    transform: rotate(20deg);
}

.dis-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 40vw;
    padding: 10px;
    margin: 20px;
}

#user {
    font-family: sans-serif;
    color: white;
    font-weight: 200;
    font-size: 14px;
    position: absolute;
    top:-19px;
    left: 1px;
}

#msg {
    font-family: monospace;
    color: white;
}